/* body */
body{
	position: relative;
}
/* app */
.app-flx_cen_wrap{
	display: flex;
	justify-content: center;
}

/* gameground */
.ggr_wrap{
	background-color: aqua;
	width: 600px;
	height: 600px;
}

.ggr-flx_cen_col{
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* board */
.bor_wrap{
	display: flex;
	flex-wrap: wrap;
	background-color: rgb(201, 201, 217);
	overflow: hidden;
}

.bor_wrap_pos{
	position: relative;
}

/* cell */
.cl_sze{
	width: 40px;
	height: 40px;
	background-color: blueviolet;
	border: 1px solid black;
}


/* Buttons Block */
.bt_wrap{
	display: flex;
	align-items: end;
	background-color: black;
}

.bt_flx_hor_cen{
	display: flex;
	flex-wrap: nowrap;
}

.bt_flx_ver_cen{
	display: flex;
	flex-direction: column;
}

.bt_ver_bl_wrap{
	background-color: red;
}

/* Button */
.bt_sze{
	width: 30px;
	height: 20px;
}

/* !PARTICIPANTS */
.part_glob_sze{
	width: 40px;
	height: 40px;
	background-size: cover;
  background-repeat: no-repeat;
	position: absolute;
	display: block;
}
.part_trans{
	transition: all 0.5s ease-out;
}
/* rabbit */
.rbb_sze{
	background-image: url('../image/rabbit.png');
}

/* wolves */
.wlf_sze{
	background-image: url('../image/wolf.png');
}

/* barriers */
.barr_sze{
	background-image: url('../image/barrier.png');
}

/* house */
.hse_sze{
	background-image: url('../image/home.png');
}

.d_none{
	display: none;
}

.i_sze{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
}

.i_wrp{
	display: flex;
	width: 500px;
	height: 500px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color:rgba(4, 4, 4, 0.7);
}

.v_sze{
	font-size: 30px;
	color: rgb(6, 241, 6);
}



